@model IEnumerable<Stone.Models.Provider_Delivery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Delivery.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider.NameOfOrganization)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.NameOfOrganization)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Provider_DeliveryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Provider_DeliveryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Provider_DeliveryID })
        </td>
    </tr>
}

</table>
