@model IEnumerable<Stone.Models.Provider>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfOrganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfProducts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfOrganization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfProducts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProviderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProviderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProviderID })
        </td>
    </tr>
}

</table>
